 <div class="container">
            <div class="box">
                <p class="third-sz">Resume Upload</p>
                <form method="POST" >
                    <div>
                        <input type="text" name="name" required="">
                        <label class="primary-size">Name</label>
                    </div>
                    <div>
                        <input type="text" name="companyname" required="">
                        <label class="primary-size">Years of Experience</label>
                    </div>
                    <div>
                        <input type="text" name="companyindustry" required="">
                        <label class="primary-size">Skills</label>
                    </div>
                    <div>
                        <input type="text" name="email" required="">
                        <label class="primary-size">Email</label>
                    </div>
                    <div>
                        <input type="text" name="mobilenumber" required="">
                        <label class="primary-size">Mobile Number</label>
                    </div>
                    <div class="textarea">
                        <p class="primary-size">Comments</p>
                        <textarea name="comments"></textarea>
                    </div>
                    <a href="#"><button class="sub-btn primary-size">Submit</button></a>
                </form>
            </div>