<footer>
<section class="footer-section">
    <div class="footer-container container">
        <div class="footer-rows">
            <div class="footer-logo-div column">
                <a class="footer-logo" href="/"></a>
                <div class="social-icons-div">
                    <a href="https://www.facebook.com/opseazy/"><img src="/fb.png"></a>
                    <a href="https://www.twitter.com/opseazy/"><img src="/twitter.png"></a>
                    <a href="https://www.instagram.com/ops.eazy/"><img src="/instagram.png"></a>
                    <a href="https://www.linkedin.com/company/opseazy/"><img src="/linkedin.png"></a>
                    <a href="https://www.youtube.com/channel/UCy2bWggvELmHIYnSFxPv-EQ"><img src="/youtube.png"></a>
                    <a href="#"><img src="/glasdor-icon.png"></a>
                </div>
            </div>
            <div class="expertise-div column">
                <h2 class="primary-size">EXPERTISE</h2>
                <a class="secondary-sz" href="/services/devops-services">DevOps</a>
                <a class="secondary-sz" href="/services/cloud-services">Cloud</a>
                <a class="secondary-sz" href="/services/product-engineering">Product Engineering</a>
                <a class="secondary-sz" href="/services/advance-engineering">Advanced Engineering</a>
                <a class="secondary-sz" href="/services/testing-services">Testing Services</a>
                <a class="secondary-sz" href="/services/infra-services">Infra Services</a>
            </div>
            <div class="company-div column">
                <h2 class="primary-size">COMPANY</h2>
                <a class="secondary-sz" href="/about">About us</a>
                <a class="secondary-sz" href="/career">Careers</a>
                <a class="secondary-sz" href="/contact">Contact us</a>
                <a class="secondary-sz" href="/privacypolicy">Privacy & Policy</a>
                <a class="secondary-sz" href="/termsofuse">Terms of Use</a>
                <a class="secondary-sz" href="/sitemap">Sitemap</a>
            </div>
            <div class="location-div column">
                <h2 class="primary-size">LOCATION</h2>
                <div class="india-address">
                    <div class="locat-icon">
                        <span class="india-icon"></span>
                        <h3 class="secondary-szb">INDIA</h3>
                    </div>
                    <p class="secondary-sz">F2/89, 200 Feet Road,</p>
                    <p class="secondary-sz">Kovilambakkam, Chennai-600117</p>
                    <p class="secondary-sz">Tamil Nadu.</p>  
                </div>
                <div class="uae-address">
                    <div class="locat-icon">
                        <span class="uae-icon"></span>
                        <h3 class="secondary-szb">UAE</h3>
                    </div>
                    <p class="secondary-sz">P.O.Box: 27589</p>
                    <p class="secondary-sz">M-40, AI Jazeera Towers, Hamdan Street,</p>
                    <p class="secondary-sz">Abu Dhabi.</p>
                </div>
                <div class="africa-address">
                    <div class="locat-icon">
                        <span class="africa-icon"></span>
                        <h3 class="secondary-szb">AFRICA</h3>
                    </div>
                    <p class="secondary-sz">P.O.Box: DTD 84</p>
                    <p class="secondary-sz">Nii Bonnie Street, Dzorwulu,</p>
                    <p class="secondary-sz">Accra, Ghana.</p>
                </div>
            </div>
        </div>
        <div class="copyrights">
            <p class="secondary-sz">&copy; <script>document.write(new Date().getFullYear())</script> OpsEazy,all rights reserved.</p>
        </div>
    </div>
</section>
</footer>
 <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
 <script
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0="
        crossorigin="anonymous"></script>
        

