<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://googletagmanager.com/ns.html?id=GTM-K4GBWTD" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="header">
  <div class="head container">
    <div class="nav-logo"><a href="/"><img class="logo" src="/opseazy logo.svg" width="200px" height="80px"></a></div>
    <div class="nav-links">
      <div class="dropdown">
        <a class="primary-size link">Services</a>
        <div class="mega-menu false">
          <div class="mark-up"></div>
          <div class="menu-row">
            <div class="menu-column dir">
              <div class="menu-title">
                <div class="dev-img"></div><a href="/services/devops-services">DevOps</a>
              </div>
              <a href="/services/devops-services#DevOps-Implementation">
                <div class="sub-img"></div>DevOps Implementation
              </a>
              <a href="/services/devops-services#Continuous-Integration-And-Delivery">
                <div class="sub-img"></div>CI and CD
              </a>
              <a href="/services/devops-services#Cloud-DevOps">
                <div class="sub-img"></div>Cloud DevOps
              </a>
              <a href="/services/devops-services#DevOps-Consultation">
                <div class="sub-img"></div>DevOps Consultation
              </a>
              <a href="/services/devops-services#DevSecOps">
                <div class="sub-img"></div>DevSecOps
              </a>
              <a href="/services/devops-services#Continuous-Testing">
                <div class="sub-img"></div>Continuous Testing
              </a>
              <a href="/services/devops-services#Infrastructure-Automation">
                <div class="sub-img"></div>Infrastructure Automation
              </a>
            </div>
            <div class="menu-column dir">
              <div class="menu-title">
                <div class="cl-img"></div><a href="/services/cloud-services">Cloud</a>
              </div>
              <a href="/services/cloud-services#Cloud-Consultation">
                <div class="sub-img"></div>Cloud Consultation
              </a>
              <a href="/services/cloud-services#Cloud-Transformation">
                <div class="sub-img"></div>Cloud Transformation
              </a>
              <a href="/services/cloud-services#Cloud-Monitoring">
                <div class="sub-img"></div>Cloud Monitoring
              </a>
              <a href="/services/cloud-services#Cloud-Implementation">
                <div class="sub-img"></div>Cloud Implementation
              </a>
              <a href="/services/cloud-services#Cloud-Security">
                <div class="sub-img"></div>Cloud Security
              </a>
              <a href="/services/cloud-services#Cloud-DevOps">
                <div class="sub-img"></div>Cloud DevOps
              </a>
              <a href="/services/cloud-services#Hybrid-Cloud">
                <div class="sub-img"></div>Hybrid Cloud
              </a>
            </div>
            <div class="menu-column dir">
              <div class="menu-title">
                <div class="pe-img"></div><a href="/services/product-engineering">Product Engineering</a>
              </div>
              <a href="/services/product-engineering#Product-Consultation">
                <div class="sub-img"></div>Product Consultation
              </a>
              <a href="/services/product-engineering#Web-App-Development">
                <div class="sub-img"></div>Web App Development
              </a>
              <a href="/services/product-engineering#Mobile-App-Development">
                <div class="sub-img"></div>Mobile App Development
              </a>
              <a href="/services/product-engineering#UI-Development-Design">
                <div class="sub-img"></div>UI Development & Design
              </a>
            </div>
          </div>
          <div class="menu-row">
            <div class="menu-column dir">
              <div class="menu-title">
                <div class="ae-img"></div><a href="/services/advance-engineering">Advanced Engineering</a>
              </div>
              <a href="/services/advance-engineering#Micro-Services">
                <div class="sub-img"></div>Micro Services
              </a>
              <a href="/services/advance-engineering#Replatforming">
                <div class="sub-img"></div>Replatforming
              </a>
              <a href="/services/advance-engineering#Artificial-Inteligence">
                <div class="sub-img"></div>Artificial Inteligence
              </a>
              <a href="/services/advance-engineering#Robotic-Process-Automation">
                <div class="sub-img"></div>Robotic Process Automation
              </a>
              <a href="/services/advance-engineering#Data-Science">
                <div class="sub-img"></div>Data Science
              </a>
              <a href="/services/advance-engineering#Machine-Learning">
                <div class="sub-img"></div>Machine Learning
              </a>
              <a href="/services/advance-engineering#Deep-Learning">
                <div class="sub-img"></div>Deep Learning
              </a>
            </div>
            <div class="menu-column dir">
              <div class="menu-title">
                <div class="ts-img"></div><a href="/services/testing-services">Testing Services</a>
              </div>
              <a href="/services/testing-services#Quality-Engineering">
                <div class="sub-img"></div>Quality Engineering
              </a>
              <a href="/services/testing-services#Test-Automation">
                <div class="sub-img"></div>Test Automation
              </a>
              <a href="/services/testing-services#Digital-Technology">
                <div class="sub-img"></div>Digital Technology
              </a>
              <a href="/services/testing-services#Data-Warehouse-ETL-Testing">
                <div class="sub-img"></div>Data Warehouse and ETL Testing
              </a>
              <a href="/services/testing-services#Test-Consultant">
                <div class="sub-img"></div>Test Consultant
              </a>
            </div>
            <div class="menu-column dir">
              <div class="menu-title">
                <div class="is-img"></div><a href="/services/infra-services">Infra Services</a>
              </div>
              <a href="/services/infra-services#24-7-Support">
                <div class="sub-img"></div>24/7 Support
              </a>
              <a href="/services/infra-services#Cloud-Support">
                <div class="sub-img"></div>Cloud Support
              </a>
              <a href="/services/infra-services#DevOps-Monitoring-Support">
                <div class="sub-img"></div>DevOps Monitoring/Support
              </a>
            </div>
          </div>
        </div>
        {{!-- <div class="sub-menu">
          <a href="/services/devops-services" class="primary-size">DevOps</a>
          <a href="/services/cloud-services" class="primary-size">Cloud</a>
          <a href="/services/product-engineering" class="primary-size">Product Engineering</a>
          <a href="/services/advance-engineering" class="primary-size">Advanced Engineering</a>
          <a href="/services/testing-services" class="primary-size">Testing Services</a>
          <a href="/services/infra-services" class="primary-size">Infra Services</a>
        </div> --}}
      </div>
      <div class="dropdown">
        <a class="primary-size link">Industries</a>
        <div class="sub-menu">
          <a href="/industries/financial" class="primary-size">Financial</a>
          <a href="/industries/retail" class="primary-size">Retail</a>
          <a href="/industries/logistic" class="primary-size">Logistics</a>
          <a href="/industries/telecommunication" class="primary-size">Telecommunication</a>
          <a href="/industries/education" class="primary-size">Education</a>
          {{!-- <a href="/industries/healthcare" class="h5regular">Health Care</a> --}}
        </div>
      </div>
      {{!-- <div class="dropdown">
                <a class="h5regular" href="/aspects">Aspects</a>
              </div> --}}
      <div class="dropdown">
        <a class="primary-size" href="/about">About us</a>
      </div>



      {{!-- <div class="dropdown">
                <a class="h5regular" href="/solutions">Solutions</a>
              </div> --}}
      <div class="dropdown">
        <a class="primary-size" href="/career">Careers</a>
      </div>
      <div class="dropdown">
        <a class="primary-size" href="/contact">Contact us</a>
      </div>

    </div>
  </div>

  <div id="myLinks">

    <a class="accordion">Services</a>
    <div class="panel primBg ">
      <a class="h6regular accord">DevOps</a>
      <div class="panel pan secBg dir">
        <a href="/services/devops-services#DevOps-Implementation" class="h6regular">DevOps Implementation</a>
        <a href="/services/devops-services#Continuous-Integration-And-Delivery" class="h6regular">CI and CD</a>
        <a href="/services/devops-services#Cloud-DevOps" class="h6regular">Cloud DevOps</a>
        <a href="/services/devops-services#DevOps-Consultation" class="h6regular">DevOps Consultation</a>
        <a href="/services/devops-services#DevSecOps" class="h6regular">DevSecOps</a>
        <a href="/services/devops-services#Continuous-Testing" class="h6regular">Continuous Testing</a>
        <a href="/services/devops-services#Infrastructure-Automation" class="h6regular">Infrastructure Automation</a>
      </div>
      <a class="h6regular accord">Cloud</a>
      <div class="panel pan secBg dir">
        <a href="/services/cloud-services#Cloud-Consultation" class="h6regular">Cloud Consultation</a>
        <a href="/services/cloud-services#Cloud-Transformation" class="h6regular">Cloud Transformation</a>
        <a href="/services/cloud-services#Cloud-Monitoring" class="h6regular">Cloud Monitoring</a>
        <a href="/services/cloud-services#Cloud-Implementation" class="h6regular">Cloud Implementation</a>
        <a href="/services/cloud-services#Cloud-Security" class="h6regular">Cloud Security</a>
        <a href="/services/cloud-services#Cloud-DevOps" class="h6regular">Cloud DevOps</a>
        <a href="/services/cloud-services#Hybrid-Cloud" class="h6regular">Hybrid Cloud</a>
      </div>
      <a class="h6regular accord">Product Engineering</a>
      <div class="panel pan secBg dir">
        <a href="/services/product-engineering#Product-Consultation" class="h6regular">Product Consultation</a>
        <a href="/services/product-engineering#Web-App-Development<" class="h6regular">Web App Development</a>
        <a href="/services/product-engineering#Mobile-App-Development" class="h6regular">Mobile App Development</a>
        <a href="/services/product-engineering#UI-Development-Design" class="h6regular">UI Development & Design</a>
      </div>
      <a class="h6regular accord">Advanced Engineering</a>
      <div class="panel pan secBg dir">
        <a href="/services/advance-engineering#Micro-Services" class="h6regular">Micro Services</a>
        <a href="/services/advance-engineering#Replatforming" class="h6regular">Replatforming</a>
        <a href="/services/advance-engineering#Artificial-Inteligence" class="h6regular">Artificial Inteligence</a>
        <a href="/services/advance-engineering#Robotic-Process-Automation" class="h6regular">Robotic Process
          Automation</a>
        <a href="/services/advance-engineering#Data-Science" class="h6regular">Data Science</a>
        <a href="/services/advance-engineering#Machine-Learning" class="h6regular">Machine Learning</a>
        <a href="/services/advance-engineering#Deep-Learning" class="h6regular">Deep Learning</a>
      </div>
      <a class="h6regular accord">Testing Services</a>
      <div class="panel pan secBg dir">
        <a href="/services/testing-services#Quality-Engineering" class="h6regular">Quality Engineering</a>
        <a href="/services/testing-services#Test-Automation" class="h6regular">Test Automation</a>
        <a href="/services/testing-services#Digital-Technology" class="h6regular">Digital Technology</a>
        <a href="/services/testing-services#Data-Warehouse-ETL-Testing" class="h6regular">Data Warehouse ETL Testing</a>
        <a href="/services/testing-services#Test-Consultant" class="h6regular">Test Consultant</a>
      </div>
      <a class="h6regular accord">Infra Services</a>
      <div class="panel pan secBg dir">
        <a href="/services/infra-services#24-7-Support" class="h6regular">24/7 Support</a>
        <a href="/services/infra-services#Cloud-Support" class="h6regular">Cloud Support</a>
        <a href="/services/infra-services#DevOps Monitoring/Support" class="h6regular">DevOps Monitoring/Support</a>
      </div>

    </div>
    <a class="accordion">Industries</a>
    <div class="panel primBg">
      <a href="/industries/financial" class="h6regular acos">Financial</a>
      <a href="/industries/retail" class="h6regular acos">Retail</a>
      <a href="/industries/logistic" class="h6regular acos">Logistics</a>
      <a href="/industries/telecommunication" class="h6regular acos">Telecommunication</a>
      <a href="/industries/education" class="h6regular acos">Education</a>
      <a href="/industries/healthcare" class="h6regular acos">Health Care</a>
    </div>
    <a href="/about">About us</a>
    <a href="/career">Careers</a>
    <a href="/contact">Contact us</a>

  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <div id="humburger" class="menu-icon" onclick="closeButton()"></div>
    {{!-- <div id="closebtn" class="close-icon" onclick="humburgerButton()"></div> --}}
  </a>

</header>
<script>
  function myFunction(e) {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }

  var acc = document.getElementsByClassName("accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function (e) {
      e.preventDefault();
      this.classList.toggle("activee");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "em";
      }
    });
  }

  var acc = document.getElementsByClassName("accord");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function (e) {
      e.preventDefault();
      this.classList.toggle("activee");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }

  function closeButton() {
    var close = document.getElementById("closebtn");
    var humburger = document.getElementById("humburger");
    if (humburger.classList.contains("menu-icon")) {
      humburger.classList.replace('menu-icon', 'close-icon')
    } else {
      humburger.classList.replace('close-icon', 'menu-icon')
    }
  }

</script>