 <link rel="stylesheet" href="/contacts.css">
 <link rel="stylesheet" href="/career.css">
<title>Career</title>
<meta name="description" content="Plan smarter, collaborate better and ship faster with a set of 
modern development and Information services.Think OpsEazy, we help to achieve DevOps Services">
</head>
<body>
 
 <section class="section-career">
     {{>header}}
     <div class="career-container">
         <div class="box">
             <p class="third-sz">Available Jobs Now</p>
             {{!-- <div class="field-box">
                 <h2 class="h5regular">Job Title</h2>
                 <h4 class="h6small">Job Type</h4>
                 <h4 class="h6small">Date</h4>
             </div>
            <div class="field-box">
                 <h2 class="h5regular">Job Title</h2>
                 <h4 class="h6small">Job Type</h4>
                 <h4 class="h6small">Date</h4>
             </div>
            <div class="field-box">
                 <h2 class="h5regular">Job Title</h2>
                 <h4 class="h6small">Job Type</h4>
                 <h4 class="h6small">Date</h4>
             </div>
            <div class="field-box">
                 <h2 class="h5regular">Job Title</h2>
                 <h4 class="h6small">Job Type</h4>
                 <h4 class="h6small">Date</h4>
             </div> --}}
             <p class="h6regular">No positions are available</p>
         </div>

         <div class="box box2 career"> {{>contact}}</div>
     </div>
 </section>
 
            
   {{>footer}}
  
</body>   