<link rel="stylesheet" href="/error.css">
<meta name="description" content="Plan smarter, collaborate better and ship faster with a set of 
modern development and Information services.Think OpsEazy, we help to achieve DevOps Services">
<title>404 | Error</title>
</head>
<body> 
  <section class="error-sec">
    <div class="error-container">
      <p class="four-not">404</p>
      <p class="oops">Oops! The Page you requested was not found!</p>
      <a class="back-btn" href="/">Back to Home</a>
    </div>
  </section>

</body>