<link rel="stylesheet" href="/home.css">
<title>Opseazy</title>
<meta name="description" content="Plan smarter, collaborate better and ship faster with a set of 
modern development and Information services.Think OpsEazy, we help to achieve DevOps Services">
</head>
<body>
    <section class="section-home">
        {{>header}}
        <div class="main-cont">
        <div class="slider">
            <div class="sec1 slide1">
                <div class="content home-container container">
                    <div class="cont-center">
                        <h1 class="slider-fs">Plan smarter, collaborate better and ship faster with a set of 
                                        modern development and Information services.<br>
                                        Think OpsEazy, we help to achieve DevOps Services.</h1>
                        <a class="slide-button" href="/services/devops-services">Read More</a>
                    </div>
                </div>
            </div>  
            <div class="sec1 slide2">
                <div class="content home-container container">
                    <div class="cont-center">
                        <h1 class="slider-fs">OpsEazy Containerization and Orchestration model-help to deliver applications in no time, 
                                         with high reliability, consistency, and efficiency with 
                                        minimum resources needed for your deployment environment</h1>
                        <a class="slide-button" href="/services/devops-services">Read More</a>
                    </div>
                </div>
            </div>
            <div class="sec1 slide3">
                <div class="content home-container container">
                    <div class="cont-center">
                        <h1 class="slider-fs">Need to Implement Hybrid Cloud - Think OpsEazy.<br>
                             We bring advanced API compatibility and solid network connectivity between the private and public clouds.</h1>
                         <a class="slide-button" href="/services/cloud-services">Read More</a>
                    </div>
                </div>
            </div>   
            
        </div>
        <div class="arrowbtn">
            <div class="left"></div>
            <div class="right"></div>
        </div>
        <div class="downbtn">
            <a class="scrolldown"  href="#scrolldown"></a>
        </div>
        </div>
        
    </section>

    <section class="section-2 ">
        <div class="home-container container" id="scrolldown">
            <div class="card-title">
                <h1 class="third-sz">OpsEazy Benefits</h1>
            </div>
            <div class="card-container">
                <div class="card-box">
                    <div class="cardbgimg box1img"></div>
                    <h2 class="h5sm">DIGITAL TRANSFORMATION</h2>
                    <p class="secondary-sz">OpsEazy help a step that succeeds in the automation of business processes, digital transformation on technological innovations to enhance the services that companies deliver.
                    </p>
                </div>
                <div class="card-box">
                    <div class="cardbgimg box2img"></div>
                    <h2 class="h5sm">BETTER TIME TO MARKET</h2>
                    <p class="secondary-sz">OpsEazy proactive shortens production cycles and leads to a better time to market, delivers software quickly on competitive markets.
                    </p>
                </div>
                <div class="card-box">
                    <div class="cardbgimg box3img"></div>
                    <h2 class="h5sm">CUSTOMER EXPERIENCE</h2>
                    <p class="secondary-sz">OpsEazy helps companies create or modify applications that meet user needs. It empowers companies to deliver software before it becomes outdated or superfluous.
                    </p>
                </div>
                <div class="card-box">
                    <div class="cardbgimg box4img"></div>
                    <h2 class="h5sm">TECHNICAL BENEFITS</h2>
                    <p class="secondary-sz">OpsEazy follows DevOps methodology, which improves the efficiency of software and helps reduce silos between the development and operations.
                    </p>
                </div>
                <div class="card-box">
                    <div class="cardbgimg box5img"></div>
                    <h2 class="h5sm">SUSTAINED PRODUCT DELIVER</h2>
                    <p class="secondary-sz">OpseEazy penetrates all stages of software development, which enables non-stop delivery, deployment and integration.
                    </p>
                </div>
                <div class="card-box">
                    <div class="cardbgimg box6img"></div>
                    <h2 class="h5sm">FASTER ISSUE ADDRESSING</h2>
                    <p class="secondary-sz">Quick fixing of issues in software performance enables seamless software delivery, which decrease overall production cost and save clients reputations 
                    </p>
                </div>
                <div class="card-box">
                    <div class="cardbgimg box7img"></div>
                    <h2 class="h5sm">FACILITATED MANAGEMENT</h2>
                    <p class="secondary-sz">The closer the teams cooperate, the easier they are to manage. OpsEazy streamlines the administration of the work in close cooperation with clients.
                    </p>
                </div>
                <div class="card-box">
                    <div class="cardbgimg box8img"></div>
                    <h2 class="h5sm">PROFESSIONAL ADVANCEMENT</h2>
                    <p class="secondary-sz">Clients get acquainted with the specifics of exact requirement, which helps them consider it when they write code and avoid failure in the future.
                    </p>
                </div>
                <div class="card-box">
                    <div class="cardbgimg box9img"></div>
                    <h2 class="h5sm">ENHANCED COMMUNICATION</h2>
                    <p class="secondary-sz">OpsEazy enhances the visibility about project with tracking tools. This allows improving customer experience.
                    </p>
                </div>
               
            </div>
        </div>
    </section>

    <section class="section-5">
        <div class="home-container container">
            <h2 class="third-sz">Get In Touch</h2>
            <div class="forms">
                    <input type="text" placeholder="Name" class="primary-size">
                    <input type="text" placeholder="Company Name" class="primary-size">
                    <input type="text" placeholder="Company Industry" class="primary-size">
                    <input type="text" placeholder="Email" class="primary-size">
                    <input type="text" placeholder="Phone Number" class="primary-size">
                    <button type="submit" class="primary-size">Submit</button>
            </div>
        </div>
    </section>

    <section class="section-4">
        <div class="home-container container">
            <h2 class="third-sz">Why OpsEazy?</h2>
            <h4 class="secondary-sz">We are a fast-growing team of highly passionate, skillful 
                IT professionals with excellence in implementing DevOps services, cloud reengineering,
                hybrid cloud integration, cloud migration, implementing cloud security and 24/7
                infra support services.  Our services are dynamic, scalable, resilient and
                responsive. We take a highly collaborative approach to align our services with your business goals.
            </h4>
            <a class="secondary-sz" href="/contact">Contact Us</a>
        </div>
    </section>

    <section class="section-3">
        <div class="home-container container">
            <h2 class="third-sz">To Be an  OpsEazian!</h2>
            <h4 class="secondary-sz">We are not searching an employee to done the work.
                 We are seeking for a people who can engross with OpsEazy community;
                  we are expecting our people should join their hands with us to towards with success.      
            </h4>
            <a class="secondary-sz" href="/career">Career</a>
        </div>
    </section>
  

    {{>footer}} 
    <script>
        $('.slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            arrows: false,
        });

        $('.left').click(function(){
            $('.slider').slick('slickPrev');
        })

        $('.right').click(function(){
            $('.slider').slick('slickNext');
        })
    </script>
</body>