<link rel="stylesheet" href="/expertise.css">
<meta name="description" content="At OpsEazy Solutions we have it in mind to defend the privacy and honesty of your personally certain information. We do not gather your personal information without your approval.
After reading and agreeing with the data consent provided,">
<title>{{title}}</title>
</head>
<body>
    <section class="servicecont">
        {{>header}}
            <section class="sec-1">
                <div class="services-page">
                    <div class="services-title">
                        <div class="servicetop">
                            <h1 class="h2bold">Privacy & Policy</h1>
                            
                        </div>
                        <img src="/Services/Mobileapp.svg" style="width:600px;height:300px">
                    </div>  
                    <a href="#scroll-down" class="down-arrow"></a>
                </div>
            </section>

            <section class="sec2">
                <div class="containerpart" id="scroll-down">
                    <div class="privacy-contents">
                        <h1 class="h5bold">Privacy Policy:</h1>
                        <p class="h6regular">At OpsEazy Solutions we have it in mind to defend the privacy and
                         honesty of your personally certain information. We do not gather your
                         personal information without your approval.  After reading and agreeing
                         with the data consent provided, You may prefer to give us personal 
                         information such as your name and address or e-mail  address ('ID') that may
                         be needed for business purposes and for future communications to you.</p>
                        <h1 class="h5bold">Purpose of Sharing Information</h1>
                        <p class="h6regular">The purpose of information collection is specified as part of the assent. We may
                         use your information only for the purpose stated and to the list of article as
                         per the consent given by you.</p>
                        <p class="h6regular">The purpose may be one or many of the following</p>
                    </div>
                    <div class="points">
                        <li class="h6regular">To offer products or services you've requested; (b) when we have your authorization: or (c) under the following circumstances:</li>
                        <li class="h6regular">To provide the information to conviction entities who work on behalf of or with OpsEazy Solutions under firm privacy agreements. These entities may use your personal information to help OpsEazy Solutions converse with you about offers from OpsEazy Solutions and our marketing partners. However, these companies do not have any independent right to further share or disseminate this information;</li>
                        <li class="h6regular">To respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims;</li>
                        <li class="h6regular">To share the information in order to examine, prevent, or take action against any illegal activities, suspected fraud, situations connecting potential threats to the physical safety of any person, or as otherwise required by law.</li>
                        <li class="h6regular">To share the information in order to care for or enforce OpsEazy Solutions rights, usage terms, intellectual or physical property or for safety of OpsEazy Solutions or connected parties.</li>
                        <li class="h6regular">To share information about you if OpsEazy Solutions is obtained by or merged with another company.</li>
                    </div>  
                        <p class="h6regular">OpsEazy Solutions will not be accountable to any unsolicited 
                        information provided by you. You consent to OpsEazy Solutions using 
                        such information as per OpsEazy Solutions’ privacy policy.</p>
                        <p class="h6regular">We will make a genuine effort to react in a timely manner to your
                         requests to exact inaccuracies in your personal information. To 
                         correct inaccuracies in your personal information, please return the
                         message encloses the imprecision to the sender.</p>
                </div>
            </section>
    </section>
    {{>footer}}
 </body>
 