<link rel="stylesheet" href="/expertise.css">
<meta name="description" content="OpsEazy’s mission is provide the 
Conviction and Deference for our customers, because we recognize the value of our clients.">
<title>{{title}}</title>
</head>
<body>
    <section class="site">
    {{>header}}
            <section class="sec">
                <div class="sitemapcontainer">
                    <div class="pathbox">
                      <h1 class="bsize">Services</h1>
                      <div class="rows">
                        <a href="/services/devops" class="h5regular">DevOps</a>
                        <a href="/services/cloud" class="h5regular">Cloud</a>
                        <a href="/services/productengineering" class="h5regular">Product Engineering</a>
                      </div>
                      <div class="rows">
                        <a href="/services/advanceengineering" class="h5regular">Advanced Engineering</a>
                        <a href="/services/testingservices" class="h5regular">Testing Services</a>
                        <a href="/services/infraservices" class="h5regular">Infra Services</a>
                      </div>
                    </div>
                    <div class="pathbox">
                      <h1 class="bsize">Industries</h1>
                      <div class="rows">
                        <a href="/industries/financial" class="h5regular">Financial</a>
                        <a href="/industries/retail" class="h5regular">Retail</a>
                        <a href="/industries/logistic" class="h5regular">Logistics</a>
                      </div>
                      <div class="rows">
                        <a href="/industries/telecommunication" class="h5regular">Telecommunication</a>
                        <a href="/industries/education" class="h5regular">Education</a>
                      </div>
                    </div>
                    <div class="pathbox">
                        <a href="/about" class="bsize">About us</a>
                    </div>
                    <div class="pathbox">
                        <a href="/career" class="bsize">Careers</a>
                    </div>
                    <div class="pathbox">
                        <a href="/contact" class="bsize">Contact us</a>
                    </div>

                </div>
            </section>
    </section>
    {{>footer}}
 </body>
 