<link rel="stylesheet" href="/solutions.css">
<meta name="description" content="">
<title>Solutions</title>
</head>
<body>

    <section class="section-solutions">
        {{>header}} 
        <div class="solutions-container">
            <div class="box">My Solutions Best</div>
            <div class="box">And Growth Of Best</div>
        </div>
    </section>
   {{>footer}} 
</body>
    