<link rel="stylesheet" href="/expertise.css">
<meta name="description" content="Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, 
which together with our privacy policy govern Aspire System's relationship with you in relation to this website">
<title>{{title}}</title>
</head>
<body>
    <section class="servicecont">
        {{>header}}
            <section class="sec-1">
                <div class="services-page">
                    <div class="services-title">
                        <div class="servicetop">
                            <h1 class="h2bold">Terms of Use</h1>
                            
                        </div>
                        <img src="/Services/Mobileapp.svg" style="width:600px;height:300px">
                    </div>  
                    <a href="#scroll-down" class="down-arrow"></a>
                </div>
            </section>

            <section class="sec2">
                <div class="containerpart" id="scroll-down">
                    <div class="privacy-contents">
                        <p class="h6regular">Welcome to our website. If you continue to browse and use this website,
                        you are agreeing to comply with and be bound by the following terms and conditions of use, 
                        which together with our privacy policy govern Aspire System's relationship with you in relation 
                        to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
                        <p class="h6regular">The term 'Aspire Systems' or 'us' or 'we' refers to the owner of the website whose registered 
                        headquarters is in 1/D-1, SIPCOT IT PARK, Siruseri, Chennai - 603 103, Tamil Nadu, India. Our company 
                        registration number is 11-116124 and place of registration is Chennai. The term 'you' refers to the
                        user or viewer of our websites.</p>
                        <h1 class="h5bold">The use of this website is subject to the following terms of use:</h1>
                    </div>
                    <div class="points">
                        <li class="h6regular">The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
                        <li class="h6regular">Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
                        <li class="h6regular">Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
                        <li class="h6regular">This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
                        <li class="h6regular">All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
                        <li class="h6regular">Your use of this website and any dispute arising out of such use of the website is subject to the laws of India.</li>
                    </div>  
                </div>
            </section>
    </section>
    {{>footer}}
 </body>
 